.contact {
  padding: 2.5rem 1.2rem;
  background: var(--color-bg-alt);
  border-radius: var(--border-radius-soft);
  box-shadow: var(--box-shadow-soft);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-card {
  --glass-padding: 1.5rem 1.2rem;
  --glass-radius: var(--border-radius);
  margin-bottom: 1.2rem;
}
