.travel {
  padding: 2.5rem 1.2rem;
  background: transparent;
  border-radius: var(--border-radius-soft);
  box-shadow: none;
}

.travel-info {
  display: grid;
  gap: 2rem;
}

.travel-card {
  --glass-padding: 1.5rem 1.2rem;
  --glass-radius: var(--border-radius);
  margin-bottom: 1.2rem;
}
